# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${HOME}/poky-scarthgap/meta \
  ${HOME}/poky-scarthgap/meta-poky \
  ${HOME}/poky-scarthgap/meta-openembedded/meta-oe \
  ${HOME}/poky-scarthgap/meta-openembedded/meta-networking \
  ${HOME}/poky-scarthgap/meta-openembedded/meta-python \
  ${HOME}/poky-scarthgap/meta-security \
  ${HOME}/poky-scarthgap/meta-qt5 \
  ${HOME}/bbb/meta-bbb \
"
