# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${HOME}/poky-rocko/meta \
  ${HOME}/poky-rocko/meta-poky \
  ${HOME}/poky-rocko/meta-openembedded/meta-oe \
  ${HOME}/poky-rocko/meta-openembedded/meta-networking \
  ${HOME}/poky-rocko/meta-openembedded/meta-python \
  ${HOME}/mender/meta-mender/meta-mender-core \
  ${HOME}/bbb-mender/meta-bbb \
"
