# Local configuration for meta-bbb images
# Yocto Project 3.1 Poky distribution [dunfell] branch
# This is a sysvinit system

# mask wireguard from meta-openembedded/meta-networking
# use version in meta-jumpnow to support kernels < 5.6
# with wireguard-linux-compat
BBMASK = "meta-networking/recipes-kernel/wireguard"

LICENSE_FLAGS_WHITELIST = "commercial"

DISTRO_FEATURES = "ext2 usbhost ${DISTRO_FEATURES_LIBC}"

# remove pulseaudio and opengl
DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio opengl"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"

PREFERRED_PROVIDER_udev = "eudev"
VIRTUAL-RUNTIME_init_manager = "sysvinit"

# Default kernel is 5.8, but you can change here
# PREFERRED_VERSION_linux-stable = "5.4.%"

# uncomment for kernels < 5.6
# WIREGUARD_COMPAT = "1"

MACHINE = "beaglebone"

# DL_DIR = "/src/oe"
# SSTATE_DIR = "/oe5/bbb/sstate-cache"
# TMPDIR = "/oe5/bbb/tmp-zeus"

DISTRO = "poky"

PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for empty root password
# EXTRA_IMAGE_FEATURES = "debug-tweaks"

# to enable a root password of jumpnowtek
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P jumpnowtek root; "

# to force a password change on first login
INHERIT += "chageusers"
CHAGE_USERS_PARAMS = "chage -d0 root; "

USER_CLASSES = "image-mklibs image-prelink"

PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "1"
