/*
 * Copyright (C) 2020 Jumpnow Technologies, LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "bbb-i2c1.dtsi"
#include "bbb-i2c2.dtsi"
#include "bbb-uart4.dtsi"


/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-bone-black", "ti,am33xx";
};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
};

&am33xx_pinmux {
	lcd_pins: lcd_pins {
		pinctrl-single,pins = <
			0xa0 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data0 */
			0xa4 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data1 */
			0xa8 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data2 */
			0xac (PIN_OUTPUT | MUX_MODE0)            /* lcd_data3 */
			0xb0 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data4 */
			0xb4 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data5 */
			0xb8 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data6 */
			0xbc (PIN_OUTPUT | MUX_MODE0)            /* lcd_data7 */
			0xc0 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data8 */
			0xc4 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data9 */
			0xc8 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data10 */
			0xcc (PIN_OUTPUT | MUX_MODE0)            /* lcd_data11 */
			0xd0 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data12 */
			0xd4 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data13 */
			0xd8 (PIN_OUTPUT | MUX_MODE0)            /* lcd_data14 */
			0xdc (PIN_OUTPUT | MUX_MODE0)            /* lcd_data15 */
			0xe0 (PIN_OUTPUT_PULLDOWN | MUX_MODE0)   /* lcd_vsync */
			0xe4 (PIN_OUTPUT_PULLDOWN | MUX_MODE0)   /* lcd_hsync */
			0xe8 (PIN_OUTPUT_PULLDOWN | MUX_MODE0)   /* lcd_pclk */
			0xec (PIN_OUTPUT_PULLDOWN | MUX_MODE0)   /* lcd_ac_bias_en */
			/* LCD enable */
			0x1a4 (PIN_OUTPUT_PULLUP | MUX_MODE7)    /* P9.27, gpio3_19 */
		>;
	};

	backlight_pin: backlight_pin {
		pinctrl-single,pins = <
			0x48 (PIN_OUTPUT_PULLDOWN | MUX_MODE6)    /* P9.14, gpio1[18]/ehrpwm1A */
		>;
	};

	ar1021_irq_pin: ar1021_irq_pin {
		pinctrl-single,pins = <
			0x180 (PIN_INPUT_PULLUP | MUX_MODE7)    /* P9.26, gpio0[14] */
		>;
	};
};

&epwmss1 {
	status = "okay";
};

&ehrpwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&backlight_pin>;
	status = "okay";
};

&lcdc {
	status = "okay";
};

&i2c1 {
	ar1021: ar1021@4d {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "microchip,ar1021-i2c";
		reg = <0x4d>;
		pinctrl-names = "default";
		pinctrl-0 = <&ar1021_irq_pin>;
		interrupts = <14 2>;
		interrupt-parent = <&gpio0>;
		touchscreen-inverted-y;
	};
};

/ {
	backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 500000 0>;
		brightness-levels = <
			0  1  2  3  4  5  6  7  8  9
			10 11 12 13 14 15 16 17 18 19
			20 21 22 23 24 25 26 27 28 29
			30 31 32 33 34 35 36 37 38 39
			40 41 42 43 44 45 46 47 48 49
			50 51 52 53 54 55 56 57 58 59
			60 61 62 63 64 65 66 67 68 69
			70 71 72 73 74 75 76 77 78 79
			80 81 82 83 84 85 86 87 88 89
			90 91 92 93 94 95 96 97 98 99
			100
		>;
		default-brightness-level = <100>;
	};

	panel {
		#address-cells = <1>;
		#size-cells = <1>;

		status = "okay";
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_pins>;
		enable-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;

		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <16>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <1>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};

		display-timings {
			native-mode = <&timing0>;
			timing0: 800x480 {
				clock-frequency = <30000000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				vback-porch = <30>;
				vfront-porch = <13>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};

		fb {
			compatible = "ti,am33xx-tilcdc";
			reg = <0x4830e000 0x1000>;
			interrupt-parent = <&intc>;
			interrupts = <36>;
			ti,hwmods = "lcdc";
		};
	};
};

&rtc {
	system-power-controller;
};

